.axis
	
	line
	path
		fill none
		stroke #000
		shape-rendering crispEdges

	&.x path
		display none

.bar
	background rgba(0,0,0,.2)
	bottom 0
	position absolute
	width 15px
	
	.time
		color #ccc
		display block
		font-size 12px
		margin-top -20px
		-webkit-transform rotate(-90deg)

	// .ms:after
	// 	content "ms"

	&.green
		background #78C406

	&.red
		background #B40202

	&:hover
		fill rgba(0,0,0,.4)

// .d3-tip
	
// 	&:after