.axis
	
	line
	path
		fill none
		stroke #000
		shape-rendering crispEdges

	&.x path
		display none

.bar
	background rgba(0,0,0,.2)
	bottom 0
	position absolute
	width 15px
	
	span
		display block
		margin-top -20px
		-webkit-transform rotate(-90deg)

	&:hover
		fill rgba(0,0,0,.4)

// .d3-tip
	
// 	&:after